<div>The spot is ... <%= @update.status.upcase %></div>

<br>

<div><%= image_tag(@update.image(:medium)) %></div>

<div>Current pixel count is: <%= @update.pixel_count %></div>

<div><%= image_tag(@update.canny_image(:medium)) %></div>
